* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --adalab-grey: #4a4a4a;
    --adalab-green: #3CDBC0;
    --adalab-white: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

/* H E A D E R */

.adalab_header {
    /* UPDATE WIDTH (FROM VW TO 100%) */
    width: 100%;
    background-color: var(--adalab-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 13px;
    /* UPDATE HEADER POSITION (FROM STICKY TO FIXED) */
    position: fixed;
    top: 0;
}

.logo {
    width: 155px;
}

.nav_list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.nav_list_item a {
    /* ADD PADDING TO LINKS */
    padding: 10px 10px 13px 10px;
    text-decoration: none;
    /* ADD UPPERCASE TO MENU */
    text-transform: uppercase;
    color: var(--adalab-grey);
    font-size: 1.6rem;
    font-weight: 400;
}
    
/* M A I N */

.adalab_main {
    height: 100vh;
    background-color: var(--adalab-green);
    /* UPDATE WIDTH (FROM VW TO 100%) */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--adalab-white);
    text-align: center;
     /* ADD CAPITALIZE TO TITLE */
     text-transform: capitalize;
     /* BONUS: REMOVE % WITH TO TITLE_CONTAINER
    AND ADD CH AS SEEN IN CLASS*/
     width: 11ch;
     /* BONUS: ADD LETTER-SPACING AS SEEN IN CLASS*/
     letter-spacing: 2px;
}

/* M E D I A Q U E R I E S */

@media all and (min-width: 768px) {
    .adalab_header {
        /* DELETE REPEATED STYLES */
        flex-direction: row;
        justify-content: space-between;
    }
    .logo {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .nav {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    /* REMOVE TITLE CONTAINER WIDTH 
    BEACUSE NOW IT´S SET TO CH */
    
    .main_title {
        font-size: 4rem; 
    }
}