* {
    margin: 0;
    padding:0;

}

:root {
    --adalab-grey: #4a4a4a;
    --adalab-green: #3CDBC0;
    --adalab-white: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

/* H E A D E R */

.adalab_header {
    width: 100%;
    background-color: var(--adalab-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 13px;
    position: sticky;
    top: 0;
    
}

.logo {
    width: 155px;
}

.nav {

}

.nav_list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;

}

.nav_list_item {

 
}

.nav_list_item a {
    text-decoration: none;
    color: var(--adalab-grey);
    font-size: 1.6rem;
    font-weight: 400;
}
    

/* M A I N */

.adalab_main {
    height: 100vh;
    background-color: var(--adalab-green);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title_container {
    width: 30%;
    padding-top: 10%;
}

.main_title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--adalab-white);
    text-align: center;
}

@media all and (min-width: 768px) {
    .adalab_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }
    .logo {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .nav {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .title_container {
        width: 20%;
    }
    .main_title {
        font-size: 4rem;
        
    }
}